.WrapperAllProjects {
  padding: 25px 0px;
  gap: 30px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
.ProjectBox {
  background-color: white;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.074);
  border-radius: 8px;
  outline: 2px solid rgba(0, 0, 0, 0.033);
  transition: all 0.1s;
  height: fit-content;
}
.ProjectBox:hover {
  box-shadow: 3px 10px 10px rgba(4, 0, 72, 0.129);
}
.ImgPerson {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}
.P_ImageAndName {
  display: flex;
  align-items: center;
}
.NameProducer {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  opacity: 0.7;
}
.DetailWorks {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}
.P_DetailWorks {
  margin-right: 17px;
}
.DeskProject {
  line-height: 25px;
  margin-top: 15px;
  font-size: 17px;
}
.FooterProjects {
  width: 100%;
  background-color: #c0c0c024;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.C_ProjectBox {
  padding: 30px;
}
.ReadMoreText {
  display: none;
}
.ReadMoreText_Show {
  display: inline;
}
.ReadMoreBtn {
  color: var(--NumberOneBg);
  cursor: pointer;
}
.OrderProject {
  border: none;
  background-color: var(--NumberOneBg);
  height: 40px;
  padding: 0 20px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 3px 5px 7px #00000029;
  font-size: 16px;
  transition: all 0.3s;
}
.OrderProject:hover {
  background-color: var(--NumberOneBgHover);
}
.OrderProject:active {
  background-color: #1041b3;
}
.P_PriceText {
  text-align: center;
  line-height: 25px;
}
.PriceText {
  font-size: 16px;
  color: gray;
}
.Price {
  color: #676767;
  font-weight: 600;
  font-size: 17px;
}
.Tag {
  font-weight: 600;
  color: #676767;
  padding: 0 10px;
  font-size: 14px;
}
.P_Tags {
  display: flex;
}
.Filters {
  display: block;
  margin: 30px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.MainWrapper {
  padding: 0 160px;
}
.ItemFilter {
  padding: 10px 10px;
  margin: 0 0 0 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.ItemFilter:hover {
  color: #000000;
}

.ItemFilter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #301934;
  bottom: 0;
  left: 0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.ItemFilter:hover::after {
  transform: scale(1, 1);
}

.ItemFilter_Atcive {
  color: #301934;
}
.ItemFilter_Atcive::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #301934;
  bottom: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: scale(1, 1);
}
.InputSearch {
  border: none;
  padding: 0px 32px 15px 0px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.066);
  width: 100%;
  transition: all 0.3s;
  background-color: transparent;
  font-size: 16px;
}
.InputSearch:focus {
  outline: none;
  border-bottom: 1.5px solid var(--secondary);
}
.P_InputSearch {
  position: relative;
  width: 30%;
}
.SearchIcon {
  position: absolute;
  top: 3px;
  right: 5px;
  color: rgba(0, 0, 0, 0.634);
}
.LineFilter {
  width: 100%;
  height: 2px;
  opacity: 0.3;
  margin: 16px 0 8px 0;
  background-color: #3019347d;
}
.BodyProjectDetail{
  background-color: #F5F5F5;
  padding: 30px 100px;
}
.MainWrapperPro{
  display: flex;
}

.L_MainWrapperPro{
  width: 300px;
  margin-right: 20px;
}
.R_MainWrapperPro{
  flex: 1;
}
.BgProjects{
  width: 100%;
  height: 250px;
  background-image: url(../assets/images/BgProjects.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-position: center;
  position: relative;
}
.LogoProgram{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  bottom: -70px;
  right: 25px;
}
.WhiteAreaPro{
  border-radius: 16px;
  background-color: white;
  box-shadow: 5px 5px 17px #00000014;
}
.P_DeskProj{
  padding-right: 179px;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.TitleProjNew{
  font-size: 30px;
}
.P_TagsOfProj{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.TagsOfProj{
  padding: 5px 8px;
  border-radius: 8px;
  background-color: #EEEEEE;
  font-size: 12px;
  font-weight: 600;
  margin: 0 3px;
  cursor: pointer;
}
.NameOfprojManager{
  font-size: 14px;
  opacity: 0.8;
}
.OrderPro{
  background-color: var(--NumberOneBg);
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  color: white;
}
.OrderPro:hover{
  background-color: var(--NumberOneBgHover);
}
.WhiteAreaDesk{
    background-color: white;
    padding: 25px;
    border-radius: 16px;
    margin-top: 16px;
    box-shadow: 5px 5px 17px #00000014;
}
.AboutPro{
  font-size: 26px;
  margin-bottom: 10px;
}
.AboutProDetail{
  font-size: 18px;
  line-height: 25px;
}
.WhiteAreaLeft{
    background-color: white;
    padding: 12px 20px 16px 20px;
    border-radius: 12px;
    margin-bottom: 16px;
    box-shadow: 5px 5px 17px #00000014;
}
.TitleLeftProg{
  font-size: 22px;
  margin-bottom: 10px;
}
.PricePro{
  font-size: 16px;
  line-break: anywhere;
}
.P_SampleProjects{
  overflow-y: auto;
  direction: ltr;
  max-height: 330px;
  padding-right: 5px;
}

/* width */
.P_SampleProjects::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.P_SampleProjects::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
  border-radius:6px;
}

/* Handle */
.P_SampleProjects::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  border-radius:6px;
}

/* Handle on hover */
.P_SampleProjects::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.FilterArticle{
  margin-top: 120px;
}
.WrapperBestPriojects{
  display: grid;
  grid-template-columns: auto auto auto;
  gap:20px;
  margin: 20px 0;
}
.BestProject{
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.286);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.BestProjImage{
  width: 100%;
  object-fit: cover;
}
.TiteBestProj{
    font-size: 25px;
    margin-bottom: 12px;
    margin-top: 2px;
    padding: 0 20px;
}
.PriceBest{
  font-size: 20px;
  padding: 0 20px;
  margin: 15px 0;
  color: var(--NumberOneBgHover);
}
.DeskBestProj{
  padding: 0 20px;
  text-align: center;
  font-size: 17px;
  color: #000000c7;
}
.BtnShowBest{
  border: none;
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  color: white;
  background-color: var(--NumberOneBg);
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.BtnShowBest:hover{
  background-color: var(--NumberOneBgHover);
}
/* For Mobile */
@media screen and (max-width: 960px) {
  .WrapperBestPriojects{
    grid-template-columns: auto;
  }
  .FilterArticle{
    margin-top: 0;
  }
  .WrapperAllProjects {
    gap: 30px;
    grid-template-columns: minmax(0, 1fr) ;
  }
  .MainWrapper {
    padding: 24px;
  }

  .DetailWorks {
    font-size: 20px;
  }
  .NameProducer {
    font-size: 14px;
  }
  .Filters {
    flex-direction: column;
    align-items: flex-start;
  }
  .ItemFilter {
    font-size: 16px;
    padding: 10px 5px;
    margin: 0 5px;
  }
  .P_InputSearch {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  .MainWrapperPro{
    flex-direction: column;
  }
  .BodyProjectDetail{
    padding: 16px;
  }
  .P_DeskProj{
    padding: 32px 20px  16px 20px;
    flex-direction: column;

  }
  .L_MainWrapperPro{
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
  .LogoProgram{
    width: 75px;
    height: 75px;
    bottom: -35px;
  }
  .BgProjects{
    height: 150px;
  }
  
  .TitleProjNew {
    font-size: 24px;
  }
  .OrderPro{
    margin-top: 20px;
    font-size: 15px;
  }
  .WhiteAreaDesk{
    text-align: center;
  }
  .L_MainWrapperPro{
    text-align: center;
  }
}
